.coh-media-1 {
    position: relative;
}
.coh-media-text {
    color: #fff;
    line-height: 1.2em;
    text-shadow: 2px 2px #939AAA;
    text-align: center;
    position: absolute;
    font-size: 1.4em;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (max-width: 50em) {
    .coh-media-1 {
        height: 25em;
    }
    img.cover {
        object-fit: cover;
        height: 100%;
    }
    .coh-media-text {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 80em) {
    .coh-media-1 {
        max-height: 45em;
        min-width: 100%;
        overflow: hidden;
    }
    img.cover {
        object-fit: none;
        object-position: 50% 50%;
    }
    .coh-media-text {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 100em) {
    .coh-media-1 {
        max-height: 45em;
        min-width: 100%;
        overflow: hidden;
    }
    img.cover {
        object-fit: none;
        object-position: 60% 80%;
    }
    .coh-media-text {
        font-size: 1.8em;
    }
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img.custom-logo {
    width: auto;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";