// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Buttons
@mixin coh-button($color, $hover-color) {
    background-color: $color;
    padding: 1em 3.5em !important;
    border: solid 2px $color;
    border-radius: 7px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    &:hover, &:focus {
        color: #fff;
        text-decoration: underline;
        background-color: $hover-color;
        border: solid 2px $hover-color;
    }
}

@mixin coh-button-2($color) {
    background-color: none;
    padding: 1em 3.5em !important;
    border-radius: 7px;
    border: solid 2px $color;
    color: $color;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    &:hover, &:focus {
        color: #fff;
        text-decoration: underline;
        background-color: $color;
    }
}