.main-navigation {
    float: right;
    vertical-align: middle;

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            //box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            background-color: #5867C3;
            float: left;
            position: absolute;
            top: 96px;
            left: -999em;
            z-index: 99999;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &:hover > ul,
                &.focus > ul {
                        left: 100%;
                }
            }

            a {
                width: 200px;
            }

            :hover > a,
            .focus > a {
            }

            a:hover,
            a.focus {
            }
        }

        li:hover > ul,
        li.focus > ul {
                left: auto;
        }
    }

    li {
        float: left;
        position: relative;

        &:hover > a,
        &.focus > a {
        }
    }
        
    li {
        padding-right: 1em;
    }

    a {
        display: block;
        text-decoration: none;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}
.menu-toggle {
    border: none;
    background: none;
    color: #fff;
    margin-right: 1em;
    margin-top: 2.2em;
}
#primary-menu {
    z-index: 1;
}
@media screen and (max-width: 57em) {
    /* disable submenus on smaller screens */
    ul.sub-menu { display: none !important; }
 
    #primary-menu {
        width: 100%;
        position: absolute;
        left: 0px;
        top: 96px;
        background-color: #5867C3;
        a {
            color: #fff;
        }
    }
    li.menu-item {
        width: 100%;
        line-height: 5em;
        padding-left: 1em;
        text-transform: uppercase;
        &:after {
            content: '\f054';
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            text-decoration:none;
            color: #fff;
            position: absolute;
            right: 1em;
            top: 0px;
        }
    }
    .donate-button {
        background-color: #E6525A;
        &:after {
            display:none;
        }
    }
}
/* Large screen */
@media screen and (min-width: 57em) {
    .menu-toggle {
            display: none;
    }
    .main-navigation {
        ul {
            display: block;
        }
        li {
            color: #fff;
            line-height: 96px;
            padding-right: 2em;
            a, a:hover, a:focus {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                margin-left: 2em;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .donate-button a {
        line-height: 56px !important;
        background-color: #E6525A;
        padding-left: 3.5em !important;
        padding-right: 3.5em !important;
        margin-right: 2em;
        margin-left: 2em;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 7px;
        box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
        &:hover, &:focus {
            text-decoration: none;
            background-color: #5867C3;
            a:hover, a:focus {
                text-decoration: none;
            }
        }
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}
