html, .site-footer {
    background-color: #272B6F;
    width: 100%;
}

.coh-footer-col-1, .coh-footer-col-2,
.coh-footer-col-3, .coh-footer-col-4 {
    float: left;
    width: 25%;
    color: #fff;
}
.coh-footer-col-1, .coh-footer-col-2,
.coh-footer-col-3, .coh-footer-col-4 {
    text-transform: uppercase;
}
.coh-footer-col-5 {
    color: #fff;
    text-align: center;
}
.coh-footer-col-1, .coh-footer-col-2, .coh-footer-col-3, .coh-footer-col-4 {
    text-align: center;
}    
.site-main, .site-info {
    margin: 1.4em;
    line-height: 1.6em;
}

@media screen and (max-width: 70em) {
    .site-main, .site-footer {
        font-size: .8em;
    }
}

@media screen and (max-width: 60em) {
    .coh-footer-major-col-1 {
        float: left;
        width: 50%;
    }
    .coh-footer-major-col-2 {
        float: left;
        width: 50%;
    }
    .coh-footer-col-2, .coh-footer-col-3 {
        width:50%;
    }
}

@media screen and (max-width: 50em) {
    .coh-footer-major-col-1, .coh-footer-major-col-2 {
        float: left;
        width: 100%;
    }
    .coh-footer-col-2, .coh-footer-col-3, .coh-footer-col-4 {
        clear: both;
        float: left;
        width: 100%;
    }
}

@media screen and (min-width: 30em) {
    .site-main, .site-info {
        margin: 1.4em;
    }
}

@media screen and (min-width: 40em) {
    .site-main, .site-info {
        margin: 1.4em;
    }
}

@media screen and (min-width: 57em) {
    .site-main {
        max-width: 55em;
        margin: 1.4em auto;
    }
    .site-info {
        max-width: 62em;
        margin: 1.4em auto;
    }
}