.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.coh-title, .entry-title {
    font-size: 1.5em;
    font-weight: normal;
    color: inherit;
    line-height: 3em;
    text-transform: uppercase;
    border-left: 3px solid #404040;
    padding-left: 1em;
}

#coh-mission-statement {
    margin-top: -21px;
    margin-bottom: -22px;
    padding-top: 3em;
    padding-bottom: 2em;
    background: url(http://192.168.0.107:8888/wp-content/uploads/2017/03/butterflies.png);
    background-repeat: no-repeat;
    background-size: 115px 77px;
    background-position: 12em 3em;
}

#coh-impact-statements {
    margin-top: -27px;
    padding-top: 3em;
    padding-bottom: 2em;
    background-color: #5867C3;
    color: #fff;
    .coh-title {
        color: #fff !important;
        border-left: 3px solid #fff;
    }
    ul {
        list-style-type: none;
        padding: 0;
        padding-top: 2em;
        -webkit-padding-start: 0;
        margin: 0 auto;
    }
    li {
        float: left;
        width: 100%;
        padding: 1em;
        margin: 0 2% 6% 0%;
        background-color: #7381CE;
        border-radius: 7px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 110px;
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(1) {
            background-image: url(http://192.168.0.107:8888/wp-content/uploads/2017/03/fist_icon.png);
            background-repeat: no-repeat;
            background-size: 80px 80px;
            background-position: 50% 20%;
        }
        &:nth-child(2) {
            background-image: url(http://192.168.0.107:8888/wp-content/uploads/2017/03/horn-icon.png);
            background-repeat: no-repeat;
            background-size: 80px 80px;
            background-position: 50% 20%;
        }
        &:nth-child(3) {
            background-image: url(http://192.168.0.107:8888/wp-content/uploads/2017/03/people-icon.png);
            background-repeat: no-repeat;
            background-size: 80px 80px;
            background-position: 50% 20%;
        }
    }
}

#coh-get-involved {
    margin-top: -22px;
    margin-bottom: -22px;
    padding-top: 3em;
    padding-bottom: 3em;
}

@media screen and (min-width: 57em) {
    #coh-mission-statement, #coh-impact-statements {
        padding-top: 4em;
        padding-bottom: 3em;
    }
    #coh-mission-statement {
        background-size: 177px 120px;
        background-position: 70% 20%;
    }
    #coh-get-involved {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

@media screen and (min-width: 40em) and (max-width: 70em) {
    #coh-impact-statements {
        li {
            width: 32%;
            margin: 0 2% 0 0;
            padding-top: 140px;
            min-height: 19em;
            &:last-child {
                margin-right: 0;
            }
            &:nth-child(1) {
                background-size: 100px 100px;
                background-position: 50% 15%;
            }
            &:nth-child(2) {
                background-size: 100px 100px;
                background-position: 50% 15%;
            }
            &:nth-child(3) {
                background-size: 100px 100px;
                background-position: 50% 15%;
            }
        }
    }
}

@media screen and (min-width: 70em) {
    #coh-impact-statements {
        li {
            width: 32%;
            margin: 0 2% 0 0;
            padding-top: 160px;
            min-height: 17em;
            &:last-child {
                margin-right: 0;
            }
            &:nth-child(1) {
                background-size: 100px 100px;
                background-position: 50% 15%;
            }
            &:nth-child(2) {
                background-size: 100px 100px;
                background-position: 50% 15%;
            }
            &:nth-child(3) {
                background-size: 100px 100px;
                background-position: 50% 15%;
            }
        }
    }
}

.coh-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.coh-donate-button {
    @include coh-button(#E6525A, #5867C3); 
    min-width: 48%;
}

.coh-news-button {
    @include coh-button-2(#1D8AE9);
    min-width: 48%;
}

@media screen and (max-width: 40em) {
    .coh-flex {
        display: block;
    }
    
    .coh-donate-button {
        @include coh-button(#E6525A, #5867C3); 
        display: block;
        min-width: 100%;
    }

    .coh-news-button {
        @include coh-button-2(#1D8AE9);
        display: block;
        min-width: 100%;
        margin-top: 1.5em;
    }
}

.coh-page-header {
    img {
        min-height: 150px;
        max-height: auto;
        object-fit: cover;
    }
}

.content-area {
    padding-top: 1em;
    padding-bottom: 1em;
}

.breadcrumbs {
    color: #404040;
    text-transform: uppercase;
    font-size: .8em;
    a, a:hover, a:focus {
        color: #999;
        text-transform: uppercase;
        text-decoration: none;
    }
}

@media screen and (max-width: 57em) {
    .content-area {
        padding-top: 0em;
        padding-bottom: 0em;
    }
}