.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#coh-mission-statement {
    margin-top: -35px;
    margin-bottom: -27px;
    padding-top: 2em;
    padding-bottom: 2em;
}

#coh-impact-statements {
    margin-top: -34px;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #5867C3;
    color: #fff;
}

#coh-get-involved {
    margin-top: -27px;
    margin-bottom: -27px;
    padding-top: 2em;
    padding-bottom: 2em;
}